﻿.feedback {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
}

.container span {
    font-size: 20px;
    margin-right: 15px;
}

.feedback_form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 16px;
    margin: 16px;
}

input[type=text], textarea {
    display: block;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 0;
    resize: vertical
}

input[type=text] {
    width: 50%;
}

textarea {
    width: 100%;
    height: 200px;
}

input[type=submit] {
    margin-top: 1vh;
    background-color: bisque;
    color: gray;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.field-validation-error {
    display: block;
    margin-top: 0;
    color: #f00;
}

