﻿.detail {
    float: right;
    color: gray;
    margin-right: 1vw;
}

.article_title {
    font-size: 1.5rem;
}

.article_date {
    font-size: 1rem;
}

hr {
    margin-top: 2rem;
}

.article_content {
    margin-bottom: 0;
}

.form-control {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 30%;
}

.btn-primary {
    font-size: 13px
}

.btn_add {
    display: block;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.tag {
    margin-left: 1rem;
    color: gray;
}

.tag_input {
    border: 1px solid #ced4da;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add_tag {
    margin-left: 1rem;
    color: gray;
}

    .tag:hover {
        color: gray;
    }