﻿.questionnaire_form {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#label {
    display: block;
    margin: 0;
}

input[type="checkbox"] {
    margin-right: 1vw;
}

input[type="submit"] {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.fname, .lname {
    display: block;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0;
    resize: vertical;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1vh;
}

#name1, #name2, #name3, #name4, me5 {
    margin: 5px;
}

.submit {
    background-color: bisque;
    color: gray;
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #fee;
}

.field-validation-error {
    display: block;
    color: #f00;
    font-weight: bold;
}

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}


input[type="checkbox"].input-validation-error {
    outline: 1px solid #ff0000;
}