﻿row {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    box-shadow: 0 0 15px 0 gray;
    background-color: bisque;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.nav-item {
    color: gray;
}

    .nav-item:hover {
        color: gray;
    }

.title {
    text-align: center;
    color: gray;
}

main {
    min-height: 100vh;
    height: 100%;
}

.content-main {
    float: left;
    background-color: aliceblue;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 80%;
}

footer {
    box-shadow: 0 0 15px 0 gray;
    background-color: bisque;
}

#copyright {
    display: block;
    text-align: center;
    color: gray;
}

.right-sidebar {
    font-size: 100%;
    overflow: auto;
    width: 20%;
    float: right;
    height: 100%;
    border: 2px solid #ccc;
    border-radius: 1px;
    background-color: ghostwhite;
}

.row {
    margin: 0;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: bisque;
    color: gray;
}

.btn-primary {
    background-color: gray;
    border-color: gray;
}

    .btn-primary:hover {
        background-color: gray;
        border-color: gray;
    }

@media screen and (max-width: 770px) {
    .img-fluid {
        max-width: 10%;
    }

    .title {
        font-size: 30px;
    }

    .nav-item {
        font-size: 12px;
    }
}

@media screen and (min-width: 500px) {
    .nav-item {
        font-size: 15px;
    }
}

@media screen and (max-width: 365px) {
    .nav-item {
        font-size: 10px;
    }
}