﻿@using WebApplication.Helpers
@model WebApplication.WEB.Models.ArticleTagsViewModel

@{
    ViewBag.Title = "AddTags";
}

@Styles.Render("~/Content/Home.css")

<hr />
@foreach (var tag in Model.Article.Tags)
{
    @Html.ActionLink(tag.Text, "GetAllArticlesByTag", "Home", new { id = tag.Id }, new { @class = "tag fa fa-tag" })
}
@Html.CreateArticle(Model.Article.Title, Model.Article.Time, Model.Article.Content)
@Html.ActionLink("Детальніше...", "GetFullArticle", "Home", new { id = Model.Article.Id }, new { @class = "detail" })
<hr />

@using (Html.BeginForm("AddTags", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Article.Id, new {type = "hidden"});
    <p class="title">Existing tags:</p>
    @Html.ListBoxFor(model => model.SelectedTags, Model.Tags, new { @class = "form-control", multiple = "multiple" })
    <br/>
    <p class ="title">Create tag:</p>
    @Html.TextBoxFor(m => m.InputTag, new {@class = "tag_input", pattern = "[A-Za-zА-Яа-яЁёі]+", title = "Only one word format" })
    <button class="btn_add btn btn-primary">Save</button>
}
