﻿@model WebApplication.WEB.Models.ArticlesViewModel

@using WebApplication.Helpers
@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/Home.css")

@foreach (var article in Model.Articles)
{
    <hr />
    foreach (var tag in article.Tags)
    {
        @Html.ActionLink(tag.Text, "GetAllArticlesByTag", "Home", new { id = tag.Id }, new { @class = "tag fa fa-tag" })
    }

    <div class="add_tag">
        @Html.ActionLink("Add tag", "AddTags", new { articleId = article.Id }, new { @class = "btn btn-primary" })
    </div>

    @Html.CreateArticle(article.Title, article.Time, article.Content)
    @Html.ActionLink("Детальніше...", "GetFullArticle", "Home", new { id = article.Id }, new { @class = "detail" })
}
<hr />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
