﻿@model WebApplication.WEB.Models.QuestionnaireViewModel

@{
    ViewBag.Title = "QuestionnaireRegister";
}

@Styles.Render("~/Content/Questionnaire.css")

<div class="questionnaire_form">
    @using (Html.BeginForm("QuestionnaireRegister", "Questionnaire", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <div class="container">
            @Html.ValidationMessageFor(m => m.FName)
            @Html.TextBoxFor(m => m.FName, new { @class = "fname", placeholder = "First name...", pattern = "[A-Za-zА-Яа-яЁёі]+", title = "Only letters format!" })
            @Html.ValidationMessageFor(m => m.LName)
            @Html.TextBoxFor(m => m.LName, new { @class = "lname", placeholder = "Last name...", pattern = "[A-Za-zА-Яа-яЁёі]+", title = "Only letters format!" })
        </div>
        <br />
        <div class="container">
            @Html.LabelFor(m => m.Sex, "Male")
            @Html.RadioButtonFor(m => m.Sex, "male", new { @class = "male", name = "gender", required = true })
            <br />
            @Html.LabelFor(m => m.Sex, "Female")
            @Html.RadioButtonFor(m => m.Sex, "fmale", new { @class = "fmale", name = "gender" })
        </div>
        <hr/>
        <div class="container">
            <span>Де б Ви хотіли отримувати сповіщення?</span>
            <br />
            @for (var i = 0; i < Model.Networks.Count; i++)
            {
                @Html.HiddenFor(m => m.Networks[i].Name)
                @Html.CheckBoxFor(m => m.Networks[i].IsSelected, new { @class = "network" })
                @Html.DisplayFor(m => m.Networks[i].Name)
                <br />
            }
        </div>
        <div class="container">
            <span>Оцініть наш сайт:</span>
            @Html.DropDownListFor(m => m.Mark, new SelectList(new string[] { "1", "2", "3", "4", "5" }))
            <br />
        </div>
        <hr/>
        <div class="container">
            @Html.LabelFor(m => m.IsConfirmed, "I accept all terms and conditions")
            @Html.ValidationMessageFor(m => m.IsConfirmed)
            @Html.CheckBoxFor(m => m.IsConfirmed)
        </div>
        <div class="container">
            <input type="submit" class="submit" name="submit" value="Підтвердити" />
        </div>
    }
</div>
