﻿
@{
    ViewBag.Title = "QuestionnaireRegister";
}

<p>First Name: @ViewBag.FirstName</p>
<p>Last Name: @ViewBag.LastName</p>
<p>Sex: @ViewBag.Sex</p>
<ul>
    <p>Networks:</p>
    @foreach (var value in ViewBag.SocailNetworkLists)
    {
        <li>@value.Name</li>
    }
</ul>
<p>Mark: @ViewBag.Mark</p>
