﻿@using WebApplication.Helpers
@model WebApplication.WEB.Models.FeedbackViewModel

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/Guest.css")


@foreach (var feedback in Model.Feedback)
{
    @Html.CreateFeedback(feedback.Name, feedback.Time, feedback.Content)
}


<div class="feedback_form">
    @using (Html.BeginForm("SendFeedback", "Guest", FormMethod.Post))
    {
        @Html.ValidationSummary(true);
        @Html.LabelFor(m => m.FeedbackObject.Name, "Name:")
        <br />
        @Html.TextBoxFor(m => m.FeedbackObject.Name, new { placeholder = "Your name...", pattern = "^([А-Я]{1}[а-яё]{1,23} [А-Я]{1}[а-яё]{1,23}|[A-Z]{1}[a-z]{1,23} [A-Z]{1}[a-z]{1,23})$", text = "Invalid full name" })
        @Html.ValidationMessageFor(m => m.FeedbackObject.Name)
        <br />
        @Html.LabelFor(m => m.FeedbackObject.Content, "Feedback:")
        @Html.TextAreaFor(m => m.FeedbackObject.Content, new { placeholder = "Your text here..." })
        @Html.ValidationMessageFor(m => m.FeedbackObject.Content)
        <input type="submit" value="Submit" />
    }
</div>
<hr />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>

