﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Library</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/font-awesome.min.css")
</head>
<body>
    <header>
        <div class="row">
            <div class="col-md-1">
                <a href="/Home/Index"><img src="~/Content/Images/Logo.svg" class="img-fluid img-thumbnail rounded float-left"></a>
            </div>
            <div class="col-md-11">
                <h1 class="title">
                    My Library
                </h1>
            </div>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="col-md-9 offset-2">
                <div class="content-main">
                    @RenderBody()
                </div>
                <div class="right-sidebar">
                    @Html.ActionLink("Головна", "index", "Home", null, new { @class = "nav-item" })
                    @Html.ActionLink("Гостьова", "index", "Guest", null, new { @class = "nav-item" })
                    @Html.ActionLink("Анкета", "QuestionnaireRegister", "Questionnaire", null, new { @class = "nav-item" })
                </div>
            </div>
        </div>
    </main>
    <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button">
        <i class="fa fa-arrow-circle-up"></i>
    </a>
    <footer>
        <div class="col-md-12">
            <span id="copyright">&#169; Serhii Yurko sergiyyurko7@gmail.com</span>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/BackTop.js")
</body>
</html>
